{% extends "index.html"%}
{% load static %}
{% block title %}
About Us
{% endblock %}

{% block content %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'images/img2.jpg' %}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Title Here</h5>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim non repudiandae labore
            minima deleniti aut voluptatibus nisi, suscipit repellendus eius rerum alias ad voluptatum? Consequuntur
            laborum dolore aspernatur doloremque in!</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-dark">
        <h5 class="card-title">Title Here</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente laudantium nihil
            voluptas aliquam accusantium repudiandae quo asperiores. Perferendis consequatur rerum laudantium voluptates
            repellendus blanditiis, inventore maxime quam doloremque repudiandae minima.</p>
    </div>
</div>

<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Title Here</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam eius perspiciatis ipsum
            velit ratione, dolore laudantium doloribus enim debitis! Dignissimos incidunt, earum qui harum aliquid sint
            perferendis omnis impedit voluptatibus!</p>
    </div>
</div>

<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Title Here</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, fugit mollitia harum
            architecto voluptate deleniti quibusdam, ea omnis quod quae pariatur dolorum ratione, illo rerum ullam
            corporis debitis eos facere.</p>
    </div>
</div>

<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Title Here</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, nostrum est cum illo porro
            enim laboriosam minima doloribus quia dolore aut tempore pariatur, ut non sed velit vitae quos! Earum!
    </div>
</div>

{% endblock %}